body {
    background-image: url("./Images/ducatiBackground.jpg");
    size: 100%, cover;
    background-repeat: no-repeat;
    background-color: black;
    max-width: 1920;
    min-width: 480px;
    padding: auto;
    margin: auto;
    

}

.header{
    margin: 0%;
    padding: 0%;
    background-color: grey;
    background-image: url("./Images/BikeBanner.jpg");
    size: 100%, stretch;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.footer{
    margin: 0%;
    padding: 0%;
    background-color: maroon;
    height: 100px
    
}